<div id="div-lista">
    <h2>Corridas</h2>

    <div id="div-corridas">
    @for(elem of listaCorridas(); track elem.id){
        <div id="div-item">
            <span class="item-id">
                {{elem.id}}
            </span>
            <span class="item-descricao">
                {{elem.descricaoCorrida}}
            </span>
            <span class="item-data">
                {{elem.dataCorrida}}
            </span>
            <span class="item-distancia">
                {{elem.distanciaCorrida}}
            </span>

            <span>
                <a class="btn-excluir" (click)="excluirCorrida(elem)">Excluir</a>
                <a class="btn-editar" (click)="buscaCorrida(elem)">Editar</a>
            </span>
        </div>    
    } @empty {
        <div id="div-item">
            <h4>Lista Vazia!</h4>
        </div>
    }
    </div>
    
</div>