<div id="div-lista">
    <h2>Corridas</h2>

    <div id="div-corridas">
    @for(elem of listaCorridas(); track elem.id){
        <div id="div-item">
            <span class="item-id">
                {{elem.id}}
            </span>
            <span class="item-descricao">
                {{elem.descricaoCorrida}}
            </span>
            <span class="item-data">
                {{elem.dataCorrida.split('-').reverse().join('/')}}
            </span>
            <span class="item-distancia">
                {{elem.distancia05 ? '5 Km' : ''}} {{elem.distancia10 ? '10 Km' : ''}} {{elem.distancia25 ? '25 Km' : ''}}
            </span>

            <span>
                <a class="btn-excluir" (click)="excluirCorrida(elem)">Excluir</a>
                <a class="btn-editar" (click)="buscaCorrida(elem)">Editar</a>
            </span>
        </div>    
    } @empty {
        <div id="div-item">
            <h4>Lista Vazia!</h4>
        </div>
    }
    </div>
    
</div> 

<!-- Codigo do professor
<div id="div-lista">
    <h2>Lista Corridas</h2>

    <div id="lista-corrida">

        @for (elem of listaCorridas(); track elem.id) {
            <div class="item-corrida">
                <span class="dados-corrida">
                    <span class="dados-corrida">
                        {{elem.descricao_corrida}} - {{elem.data_corrida}} - Distâncias: {{elem.distancia5km ? '5km':''}} 
                        {{elem.distancia10km ? ' 10km':''}}
                        {{elem.distancia25km ? ' 25KM' :''}}
                    </span>
                    <span class="links-lista">
                        <a class="lnk-editar"> Editar </a>
                        <a class="lnk-excluir" (click)="excluir(elem)"> Excluir </a>
                    </span>
                </span>

            </div>
        }@empty {

        <div class=" div-item-corrida">
            NENHUM REGISTRO NA LISTA
        </div>
        }

    </div>


</div> 
-->