#formulario{
    width: 70%;
    height: 30px;
    min-width: 600px;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#form-inscricao{
    display: flex;
    
    flex-direction: column;
    border: solid 1px;
    border-radius: 6px;
    padding: 10px 10px;
    margin-top: 50px;
}

input, select{
    margin-top: 10px;
    padding: 0px 10px;
    border-radius: 6px;
    justify-content: center;
    border: solid 1px;
    margin-bottom: 10px;
}

#termosServicos{
    display: inline-flex;
}

#btn-submit{

}

.btn-fin{
    margin-top: 5px;
    padding: 0px 10px;
    height: 30px;
    background-color: var(--cor01);
    color: var(--branca);
    border: none;
    border-radius: 6px;
}

.btn-fin:hover{
    cursor: pointer;
    opacity: 0.8;
}