#formulario{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--branco);
    border-radius: 12px;
}

#form-inscricao{
    padding-left: 10px;
    width: 70%;
    height: 380px;
    margin-top: 70px;
    border: solid 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#kitTamanho{
    width: 150px;
}

#div-atleta{
    margin-top: 10px;
    padding-bottom: 20px;
}

#div-corrida{
    margin-top: 10px;
    padding-bottom: 20px;
}

h3{
    font-size: 1.2em;
}

.btn-fin{
    margin-top: 40px;
    border: none;
    background-color: var(--cor01);
    color: var(--branca);
    border-radius: 8px;
    width: 200px;
    height: 30px;
}

.btn-fin:hover{
    cursor: pointer;
    opacity: 0.9;
}